body {
  padding: 80px 0px 0px 0px;
  margin: 0px;
  font-family: 'Audrey', sans-serif;;
}

h1 {
  font-size: 40px;
  font-weight: bolder;
  margin: 0 10px;
  padding: 0px;
  color: rgba(216, 197, 93, 0.918);
  margin-right: 0px;
  margin-top: 0px;
  font-family: 'Audrey', sans-serif;
}

h2{
  height: 100vh;
  width: 100%;
  font-size: 24px;
  color: rgba(216, 197, 93, 0.918);
  margin-top: 75px; 
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  padding: 50px;
  margin-top: 5%;
}

h3{
  font-size: 18px;
  font-weight: bold;
  color: rgba(216, 197, 93, 0.918);
  margin: 0 10px;
  margin-right: 300px; 
}


a  {
  font-size: larger;
  margin-right: 24px;
  color: rgba(216, 197, 93, 0.918);
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

a.contact  {
  font-size: large;
  font-size: 32px;
  font-style: oblique;
  color: rgba(216, 197, 93, 0.918);
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;

}

button {
  height: 56px;
  border-radius: 16px;
  background-color: rgb(8, 41, 38);
  border-width: 2px;
  color: rgba(216, 197, 93, 0.918);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.16rem;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  margin-right: 50px;
}

.root-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 1216px;
  align-items: center;
  justify-content: flex-start;
}

.section-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 90vh;
}

.barra-navegacao {
  display: flex;
  width: 100vw;
  height: 80px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: -80px;
  background-color: rgb(9, 43, 40);
  
}

.office-icon {
  width: 70px;
  height: 70px;
  padding: 10px;
  margin-right: 150px;
}

.hero-about-us {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-top: 12px;
  background-color: rgb(8, 41, 38);
}

.hero-about-us-img {
  width: 100%;
  height: 100%;
}

.office-icon-about-us {
  width: 70px;
  height: 70px;
  justify-content: center;
  padding: 50px;
  margin-left: 24%;

}
